<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular project</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>
    <nav>
        <div class="toggle">
            <i class="fa fa-bars menu" aria-hidden="true" onclick="toggle()"></i>
        </div>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>About</li></a>
            <a href="/"><li>Map</li></a>
            <a href="/"><li>Trees</li></a>
            <a href="/orthologs/"><li>Orthologs</li></a>
            <a href="/gene_illness/"><li>Gene illness</li></a>
            <a href="/login/"><li>Log in</li></a>
            <a href="/signup/"><li>Sign up</li></a>
        </ul>
    </nav>
    <div class="container">
    </div>
    <footer>
    </footer>
</body>
</html>