<nav>
    <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true" onclick="toggle()"></i>
    </div>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/"><li>About</li></a>
        <a href="/"><li>Map</li></a>
        <a href="/Trees"><li>Trees</li></a>
        <a href="/MsaViewer"><li>MSA Viewer</li></a>
        <a href="/orthologs/"><li>Orthologs</li></a>
        <a href="/gene_illness/"><li>Gene illness</li></a>
        <a href="/login/"><li>Log in</li></a>
        <a href="/signup/"><li>Sign up</li></a>
    </ul>
</nav>

<hr>