<div>
    <input type="text" name="filterspecies" id="" placeholder="Insert the scientific name" [(ngModel)]="filterspecies">
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID specie</th>
                <th>Scientific Name</th>
                <th>Colloquial Name</th>
                <th>Taxon ID</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-body"
                *ngFor="let specie of SpeciesList | filterspecie:filterspecies |paginate: {itemsPerPage: 7, currentPage: page}">
                <td>{{specie.specie_id}}</td>
                <td>{{specie.scientific_name}}</td>
                <td>{{specie.colloquial_name}}</td>
                <td class="margin-taxon">{{specie.taxon_id}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<div>
    <h1>Example Species of the API</h1>

    <div>
        <h3>Ursidae</h3>
        <img src="/assets/images/ursidae.jpg" alt="">
        <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans.
            Although only eight species of bears are extant, they are widespread, appearing in a wide variety of
            habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the
            continents of North America, South America, Europe, and Asia. Common characteristics of modern bears include
            large bodies with stocky legs, long snouts, small rounded ears, shaggy hair, plantigrade paws with five
            nonretractile claws, and short tails.</p>
        <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=9644">NCBI Taxonomy</a>
        <a href="https://www.ncbi.nlm.nih.gov/search/all/?term=Ursidae" style="margin: 30px;">General NCBI</a>
    </div>
    <div>
        <h3>Canis lupus familiaris</h3>
        <div class="align-center">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="">
        </div>
        <p>The domestic dog (Canis familiaris or Canis lupus familiaris) is a domesticated descendant of the wolf. The
            dog derived from an ancient, extinct wolf, with the modern grey wolf being the dog's nearest living
            relative. The dog was the first species to be domesticated, by hunter–gatherers over 15,000 years ago,
            before the development of agriculture. Their long association with humans has led dogs to be uniquely
            adapted to human behavior, leading to a large number of domestic individualsand the ability to thrive on a
            starch-rich diet that would be inadequate for other canids.</p>
        <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9615">NCBI Taxonomy</a>
        <a href="https://www.ncbi.nlm.nih.gov/search/all/?term=Canis+lupus+familiaris" style="margin: 30px;">General
            NCBI</a>

    </div>
    <div>
        <h3>Pan paniscus</h3>
        <img src="/assets/images/bonobo-3.jpg" alt="Pan Paniscus">
        <p>The domestic dog (Canis familiaris or Canis lupus familiaris) is a domesticated descendant of the wolf. The
            dog derived from an ancient, extinct wolf, with the modern grey wolf being the dog's nearest living
            relative. The dog was the first species to be domesticated, by hunter–gatherers over 15,000 years ago,
            before the development of agriculture. Their long association with humans has led dogs to be uniquely
            adapted to human behavior, leading to a large number of domestic individualsand the ability to thrive on a
            starch-rich diet that would be inadequate for other canids.</p>
        <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9597">NCBI Taxonomy</a>
        <a href="https://www.ncbi.nlm.nih.gov/search/all/?term=pan%20paniscus" style="margin: 30px;">General NCBI</a>
    </div>
</div>
<div class="info">
    <div>
        <h1>Canis lupus familiaris</h1>
        <hr>
        <p>The domestic dog (Canis familiaris or Canis lupus familiaris) is a domesticated descendant of the wolf. The
            dog derived from an ancient, extinct wolf, with the modern grey wolf being the dog's nearest living
            relative. The dog was the first species to be domesticated, by hunter–gatherers over 15,000 years ago,
            before the development of agriculture. Their long association with humans has led dogs to be uniquely
            adapted to human behavior, leading to a large number of domestic individualsand the ability to thrive on a
            starch-rich diet that would be inadequate for other canids.</p>
        <span class="image-filter">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="Image of users">
        </span>
        <span>
            <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9597">NCBI Taxonomy</a>
            <a href="https://www.ncbi.nlm.nih.gov/search/all/?term=pan%20paniscus" style="margin: 30px;">GeneralNCBI</a>
        </span>
    </div>
    <div>
        <h1>Canis lupus familiaris</h1>
        <hr>
        <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans.
            Although only eight species of bears are extant, they are widespread, appearing in a wide variety of
            habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the
            continents of North America, South America, Europe, and Asia. Common characteristics of modern bears include
            large bodies with stocky legs, long snouts, small rounded ears, shaggy hair, plantigrade paws with five
            nonretractile claws, and short tails.</p>
        <span class="image-filter">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="Image of users">
        </span>
    </div>
    <div>
        <h1>Canis lupus familiaris</h1>
        <hr>
        <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans.
            Although only eight species of bears are extant, they are widespread, appearing in a wide variety of
            habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the
            continents of North America, South America, Europe, and Asia. Common characteristics of modern bears include
            large bodies with stocky legs, long snouts, small rounded ears, shaggy hair, plantigrade paws with five
            nonretractile claws, and short tails.</p>
        <span class="image-filter">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="Image of users">
        </span>
    </div>

</div>
<div class="info">
    <div>
        <h1>Canis lupus familiaris</h1>
        <hr>
        <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans.
            Although only eight species of bears are extant, they are widespread, appearing in a wide variety of
            habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the
            continents of North America, South America, Europe, and Asia. Common characteristics of modern bears include
            large bodies with stocky legs, long snouts, small rounded ears, shaggy hair, plantigrade paws with five
            nonretractile claws, and short tails.</p>
        <span class="image-filter">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="Image of users">
        </span>
    </div>
    <div>
        <h1>Canis lupus familiaris</h1>
        <hr>
        <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans.
            Although only eight species of bears are extant, they are widespread, appearing in a wide variety of
            habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the
            continents of North America, South America, Europe, and Asia. Common characteristics of modern bears include
            large bodies with stocky legs, long snouts, small rounded ears, shaggy hair, plantigrade paws with five
            nonretractile claws, and short tails.</p>
        <span class="image-filter">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="Image of users">
        </span>
    </div>
    <div>
        <h1>Canis lupus familiaris</h1>
        <hr>
        <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans.
            Although only eight species of bears are extant, they are widespread, appearing in a wide variety of
            habitats throughout the Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the
            continents of North America, South America, Europe, and Asia. Common characteristics of modern bears include
            large bodies with stocky legs, long snouts, small rounded ears, shaggy hair, plantigrade paws with five
            nonretractile claws, and short tails.</p>
        <span class="image-filter">
            <img src="/assets/images/anatolian_shepherd_dog.jpg" alt="Image of users">
        </span>
    </div>

</div>